.btn
      font-family: $roboto-sub
      color: white
      font-size: 24px
      background: $space-grey
      // padding: 10px 20px 10px 20px
      border: solid $lime 2px
      text-decoration: none
      text-align: center
      width: auto
      height: auto
      padding: 5px 10px

.btn:hover
      background: $lime
      text-decoration: none

a:link
      text-decoration: none
      color: white
a:visited
      text-decoration: none
      color: white
a:hover
      text-decoration: none
a:active
      text-decoration: none
