.about-wrapper
      height: 550px
      width: 850px
      left: 50%
      margin-left: -425px
      background-color: $space-grey
      position: absolute
      top: 950px
      display: flex
      flex-direction: column
      justify-content: space-around
      align-items: center
      font-family: $roboto-sub
      color: white
      text-align: center
      box-shadow: 2px 2px 10px 0px $space-grey

.about-description-container
      padding-left: 35px
      padding-right: 35px
      font-size: 20px
      line-height: 2em
