.landing-page
      height: 1200px
      width: 100%
      background: url(../img/pipe.jpeg) fixed
            size: cover
            position: center
      h1
            font-family: $roboto
            font-size: 60px

.title-wrapper
      display: inline-block
      margin: 0
      padding: 0
      margin-top: 10%
      margin-left: 10%

.sub-title-wrapper
      margin: 0
      padding: 0
      margin-top: 30px
      line-height: 2em
