.landing-page
    height: 100vh
    background: url(http://cdn.wallpapersafari.com/20/56/7FVb2x.jpg)
        size: cover
        position: center

    color: white
    font-family: $roboto
    font-size: 45px
    span
        color: $lime

.title-wrapper
    display: inline-block
    margin: 0
    padding: 0
    margin-top: 10%
    margin-left: 20%

.sub-title-wrapper
    font-family: $roboto-sub
    font-weight: 100
    font-size: 16px
    margin: 0
    padding: 0
    margin-top: 30px
    line-height: 2em
