.skills-wrapper
      background: url(../img/tech_bg.jpeg)
            size: cover
            position: center
      height: auto
      width: 100%
      background-color: white
      text-align: center
      display: flex
      justify-content: center
      align-items: center

.skills-content-container
      display: flex
      justify-content: center
      align-items: center
      flex-wrap: wrap
      width: 60%
      margin-top: 600px
      margin-bottom: 200px


.skills-element
      font-family: $roboto-sub
      color: $lime
      background-color: black
      margin: 30px
      font-size: 42px
      width: auto
      height: auto
      background-color: black
