.skills-wrapper
      background: url(../img/tech_bg.jpeg)
            size: cover
            position: center
      height: 1300px
      background-color: white

.skills-container
      position: relative
      width: 80%
      height: 600px
      left: 50%
      margin-left: -40%
      top: 500px
      h1
            font-family: $roboto-sub
            color: white
            margin-bottom: 125px
            font-size: 50px

.skills-title-container
      text-align: center

.skills-content-container
      position: relative
      height: 365px
      width: 72%
      left: 50%
      margin-left: -36%
      display: flex
      flex-wrap: wrap
      justify-content: space-between

.skills-element
      display: flex
      justify-content: center
      align-items: center


      height: 50px
      width: auto
      margin: 10px
      font-family: $roboto
      color: $lime
      background-color: black
      font-size: 50px

.html5
      padding-bottom: 10px
